@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.food-munch-logo {
  width: 80px;
  height: 70px;
  padding: 5px;
}

#navItem1 {
  color: #323f4b;
  font-family: "Roboto";
}

#navItem2 {
  color: #323f4b;
  font-family: "Roboto";
}

#navItem3 {
  color: #323f4b;
  font-family: "Roboto";
}

#navItem4 {
  color: #323f4b;
  font-family: "Roboto";
}

.bg-container {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
  height: 90vh;
  background-size: cover;
}

.banner-heading {
  color: white;
  font-family: "Roboto";
  font-size: 50px;
  font-weight: 300;
}

.banner-caption {
  color: #f5f7fa;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 300;
}

.custom-button {
  color: white;
  background-image: linear-gradient(#d0b200, #a58d00);
  width: 130px;
  height: 45px;
  border-width: 0;
  border-radius: 8px;
  margin-right: 10px;
}
.custom-outline-button {
  color: #d0b200;
  background-color: transparent;
  width: 130px;
  height: 45px;
  border-style: solid;
  border-width: 1px;
  border-color: #d0b200;
  border-radius: 8px;
}

.off-white-bg {
  background-color: #f9fbfe;
}

.section-heading {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 28px;
  color: #183b56;
}

.section-description {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}

.card {
  border-radius: 1.25rem;
}

.card-title {
  font-size: 22px;
}

.offer {
  font-weight: bold;
  font-style: italic;
  color: black;
}

.white-bg {
  background-color: white;
}

.image {
  border-radius: 2.25rem;
}

.thanking-customers-section{
  /* background-color: #d0b2001a; */
  background-image: radial-gradient(#fff8db, #fae38c);
}

.card-img-top{
  height: 90px;
  width: 87px;
}

.modal-title{
  color: #d0b200;
  font-weight: 800;
}

.twitter-bg{
  color: #d0b200;
  background-color: #d0b2001a;
  border-radius: 50%;
  padding: 10px 15px;
}

footer{
  background-color: #183b56;
  height: 150px;
}

.footer-text{
  margin-bottom: 0;
  color: white;
  font-size: 11px;
}

